// rent-a-car-after-an-accident


.single-car-detail {
    .grid {
        figure {
            width: 55px;
            height: 55px;
            margin: 0 auto 10px;
        }
    }
}

.heding-txt-h {
    .grid {
        h3 {
            min-height: 76px;
        }
    }
}

.border-txt {
    margin-bottom: 100px;

    .btn-txt {
        font-size: 21px;
    }
}