// subscribe-with-enterprise


.how-it-work-icn {
    .grid {
        figure {
            max-width: 140px;
            height: 85px;
            margin: 0 auto 20px;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}